# <div align="center"> Oskar Borkowski <div align="center"> Lab 2

## Ćwiczenie, połączenia do bazy danych wykonane z pomocą biblioteki `sqlalchemy`

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)
connection_sqlalchemy = db.connect()

print("1. Ilość kategorii filmów")
result_set = db.execute("SELECT name FROM category") #1 cw 1 sposób
counter = 0
for r in result_set:
    counter += 1
print(counter)

print("\n1. Ilość kategorii filmów")
result_set = db.execute("SELECT DISTINCT category_id FROM film_category") #1 cw 2 sposób
counter = 0
for r in result_set:
    counter += 1
print(counter)
    
print("\n2. Lista kategorii w kolejności alfabetycznej")
result_set = db.execute("SELECT name FROM category ORDER BY name ASC")  
for r in result_set:  
    print(r)
    
print("\n3.1. Najmłodszy film")
result_set = db.execute("SELECT title FROM film ORDER BY release_year DESC FETCH FIRST ROW ONLY")  
for r in result_set:  
    print(r)
    
print("\n3.2. Najstarszy film")
result_set = db.execute("SELECT title FROM film ORDER BY release_year ASC FETCH FIRST ROW ONLY")  
for r in result_set:  
    print(r)

In [ ]:
#result_set = db.execute("SELECT rental_date FROM rental FETCH FIRST ROW ONLY")    
#for r in result_set:  
#    print(r)    

print("\n4. Filmy do wypożyczenia między 2005-07-01 : 2005-08-01")
result_set = db.execute("SELECT rental_date FROM rental WHERE rental_date >= '2005-07-01' AND rental_date <= '2005-08-01'")
counter = 0
for r in result_set:
    counter += 1
print(counter)

print("\n5. Filmy do wypożyczenia między 2010-01-01 : 2011-02-01")
result_set = db.execute("SELECT rental_date FROM rental WHERE rental_date >= '2010-01-01' AND rental_date <= '2011-02-01'")
counter = 0
for r in result_set:
    counter += 1
print(counter)

print("\n6. Największa płatność")
result_set = db.execute("SELECT amount FROM payment ORDER BY amount DESC LIMIT 1")    
for r in result_set:  
    print(r)

In [ ]:
print("\n7. Klienci Polski, Nigerii oraz Bangladeszu")
result_set = db.execute("SELECT first_name, last_name, country FROM customer \
                        INNER JOIN address ON customer.address_id \
                        = address.address_id INNER JOIN city ON address.city_id \
                        = city.city_id INNER JOIN country ON city.country_id \
                        = country.country_id WHERE country = 'Poland' OR country = 'Bangladesh' OR country = 'Nigeria'")    
for r in result_set:  
    print(r)   

#print("\n7. klienci Polski, Nigerii oraz Bangladeszu")
#result_set = db.execute("SELECT customer_id FROM customer WHERE customer_id IN (SELECT country FROM country WHERE country = 'Poland')")    
#for r in result_set:  
#    print(r)   

print("\n8. Miejsce zamieszkania personelu")
result_set = db.execute("SELECT first_name, last_name, city.city FROM staff \
                        INNER JOIN address ON staff.address_id = address.address_id \
                        INNER JOIN city ON address.city_id = city.city_id")    
for r in result_set:  
    print(r)   
    
print("\n9. Pracownicy mieszkający w Argentynie i Hiszpani")
result_set = db.execute("SELECT staff.staff_id FROM staff \
                        INNER JOIN address ON staff.address_id = address.address_id \
                        INNER JOIN city ON address.city_id = city.city_id \
                        INNER JOIN country ON city.country_id = country.country_id WHERE country = 'Argentina' OR country = 'Spain'")        
counter = 0
for r in result_set:
    counter += 1
print(counter)

In [ ]:
print("\n10. Kategorie wypożyczone przez klientów") #GROUP_CONCAT (match.name) first_name, last_name, 
result_set = db.execute("SELECT DISTINCT name FROM customer \
                        INNER JOIN rental ON customer.customer_id = rental.customer_id \
                        INNER JOIN inventory ON rental.inventory_id = inventory.inventory_id \
                        INNER JOIN film ON inventory.film_id = film.film_id \
                        INNER JOIN film_category ON film.film_id = film_category.film_id \
                        INNER JOIN category ON film_category.category_id = category.category_id")    
for r in result_set:  
    print(r)   

    
print("\n11. Kategorie wypożyczone w Ameryce")
result_set = db.execute("SELECT DISTINCT name FROM country \
                        INNER JOIN city ON country.country_id = city.country_id \
                        INNER JOIN address ON city.city_id = address.city_id \
                        INNER JOIN customer ON address.address_id = customer.address_id \
                        INNER JOIN rental ON customer.customer_id = rental.customer_id \
                        INNER JOIN inventory ON rental.inventory_id = inventory.inventory_id \
                        INNER JOIN film ON inventory.film_id = film.film_id \
                        INNER JOIN film_category ON film.film_id = film_category.film_id \
                        INNER JOIN category ON film_category.category_id = category.category_id") 
for r in result_set:  
    print(r)

In [ ]:
print("\n12. Filmy w który zagrali Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley")
result_set = db.execute("SELECT title, first_name, last_name FROM film \
                        INNER JOIN film_actor ON film.film_id = film_actor.film_id \
                        INNER JOIN actor ON film_actor.actor_id = actor.actor_id \
                        WHERE first_name = 'Olympia' AND last_name = 'Pfeiffer' \
                        OR first_name = 'Julia' AND last_name = 'Zellweger' \
                        OR first_name = 'Ellen' AND last_name = 'Presley'")    
for r in result_set:  
    print(r)